.fondo {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  position: relative;
  height: 100vh;
  padding: 10%;
}

.imagen-contenedor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imagen-contenedor img {
  position: relative;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  color: white;
}

.contenido {
  text-align: center;
  color: white;
}

.reglas {
  position: absolute;
  text-align: justify;
  margin: 10px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.button {
  display: inline-block;
  border-radius: 12px;
  background-color: rgba(153, 11, 11, 0.5);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  width: 20%;
  border-color: black;
  border: 2px solid #000000;
  vertical-align: middle;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

p {
  color: white;
  font-family: 'Fira Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Fira Sans Condensed', sans-serif;
}