<div class="contenedor container-fluid ">
    <div class="container text-center d-block mx-auto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center content-center">
                    <h1 class="text-warning">BlackJack</h1>
                    <p class="justify-content-center"> <strong> Desarrollado por Iñaki Eguia | Lucio Palacios </strong>
                    </p>
                    <br>
                    <p> El Blackjack, también llamado veintiuno, es un juego de cartas, propio de los casinos con una o
                        más
                        barajas inglesas de 52 cartas sin los comodines,
                        que consiste en sumar un valor lo más próximo a 21 pero sin pasarse. En un casino cada jugador
                        de la
                        mesa juega únicamente contra el crupier,
                        intentando conseguir una mejor jugada que este. El crupier está sujeto a reglas fijas que le
                        impiden
                        tomar decisiones sobre el juego.
                        Por ejemplo, está obligado a pedir carta siempre que su puntuación sume 16 o menos, y obligado a
                        plantarse si suma 17 o más. Las cartas numéricas
                        suman su valor, las figuras suman 10 y el As vale 1. En el caso del
                        crupier, los Ases valen 11 mientras no se pase de
                        1, y 1 en caso contrario. La mejor jugada es conseguir 21 con solo dos cartas, esto es con un As
                        más
                        carta de valor
                        10. Esta jugada se conoce como Blackjack o 21 natural. Un Blackjack gana sobre un 21 conseguido
                        con
                        más
                        de dos cartas.</p>
                    <br>
                    <h1 class="text-warning">Valor de las cartas</h1>
                    <br>
                    <p>
                        El valor de las cartas en el Blackjack es muy importante debido a que debemos de saber en todo
                        momento
                        la suma de nuestra mano y l
                        a del crupier para saber que decisión tomar. Si no sabemos cuanto vale nuestra mano, nunca
                        podremos
                        aplicar una estrategia que nos permita ganar.
                        Los valores que toman las cartas son los siguientes: de la carta dos(2) hasta la carta diez(10),
                        el
                        valor de la carta es su propio número.
                        Las figuras valen diez(10). Los Ases pueden valer uno(1) u once(11) y
                        será el jugador quien decida qué valor toman los Ases en cada momento de la partida.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 d-flex justify-content-center py-3">
                    <button (click)="Volver()" class="btn btn-danger btn-lg">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>

