<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2"></div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 bg-dark text-white mt-5 rounded-3 shadow">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <h1 class="fw-bold text-center text-warning py-4">Login</h1>
                        <div class="mb-4 form-group">
                            <label class="form-label">Correo electrónico</label>
                            <input type="email" [(ngModel)]="email" class="form-control" name="email" formControlName="email"
                                [class.is-invalid]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" />
                            <small class="errorValidacion"
                                *ngIf="this.loginForm.get('email')?.hasError('required') && this.loginForm.get('email')?.touched">El
                                correo electrónico es requerido.</small>
                        </div>
                        <div class="mb-4 form-group">
                            <label class="form-label">Contraseña</label>
                            <input type="text" class="form-control" name="clave" formControlName="clave"
                                [class.is-invalid]="loginForm.get('clave')?.touched && loginForm.get('clave')?.invalid" />
                            <small class="errorValidacion"
                                *ngIf="this.loginForm.get('clave')?.hasError('required') && this.loginForm.get('clave')?.touched">La
                                constraseña es requerida.</small>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Iniciar sesión</button>
                        </div>
                        <div class="d-grid py-2">
                            <button type="button" class="btn btn-warning" (click)="registrar()">Registrarse</button>
                        </div>
                        <div class="d-grid py-2">
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2"></div>
    </div>
</div>