<div class="container-fluid bg-dark py-4">
    <div class="container text-white">
        <h3 class="text-center">REPORTE DE PARTIDAS</h3>
        <div class="row ">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 container text-center py-1">
                <button class="btn btn-danger" (click)="Volver()"><b>Volver</b></button>
            </div>
        </div>
    </div>
</div>
<div class="container py-2">
    <div class="row container">
        <!-- <div class="col-1 col-sm-2 col-md-3 col-lg-3"></div> -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3">
            <div class="card text-white bg-dark container">
                <div class="card-header" style="text-align: center;">
                    <strong>Cantidad de juegos por día</strong>
                </div>
                <div class="chart">
                    <canvas baseChart [data]="datos" [type]="'bar'" [options]="barChartOptions">
                    </canvas>
                </div>
                <div class="card-body" style="text-align: center;">
                    <p class="card-text">Cantidad de juegos diarios realizados por jugador </p>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3" >
            <div class="card text-white bg-dark">
                <div class="card-header" style="text-align: center;">
                    <strong>Indice de victorias por parte del croupier</strong>
                </div>
                <div class="chart">
                    <canvas baseChart [data]="datos1" [type]="'bar'" [options]="barChartOptions1">
                    </canvas>
                </div>
                <div class="card-body" style="text-align: center;">
                    <p class="card-text">Victorias realizadas por parte del croupier</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-1 col-sm-2 col-md-3 col-lg-3"></div> -->
    </div>
    <div class="row  container mt-3 mb-5" >
        <!-- <div class="col-1 col-sm-2 col-md-3 col-lg-3"></div> -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 container" style=" width: 500px; height: 300px;">
            <div class="card text-white bg-dark">
                <div class="card-header" style="text-align: center;">
                    <strong>Porcentaje de jugadas con puntaje 21 divididas por croupier y jugadores.</strong>
                </div>
                <div class="chart">
                    <canvas baseChart [type]="pieChartType" [data]="pieChartData"></canvas>
                </div>
                <div class="card-body" style="text-align: center;">
                    <p class="card-text">Porcentaje de BlackJacks realizados entre el jugador y el croupier</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-1 col-sm-2 col-md-3 col-lg-3"></div> -->
    </div>
</div>