<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="/inicio">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item dropdown bg-dark">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Sesión
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><button class="dropdown-item text-danger" (click)="Desloguear()">
                                <b>Cerrar sesión</b></button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="contenedor mt-4">
    <div class="video-contenedor">
        <video [src]="videoUrl" type="video/mp4" autoplay [muted]="true" [loop]="true"></video>
    </div>

    <div class="contenido zoom">
        <div class="">
            <h1> <strong> Bienvenido a BlackJack {{usuario.nombre}}</strong> </h1>
        </div>
        <div>
            <p> <strong>Proyecto de TUP UTN FRC </strong></p>
            <p class="text-warning"> <strong> Desarrollado por Iñaki Eguia | Lucio Palacios </strong></p>
        </div>
        <div class="mt-2">
            <button (click)="Jugar()" class="button" style="vertical-align:middle"><span>Iniciar partida</span></button>
        </div>
        <div class="mt-2">
            <button (click)="Partidas()" class="button" style="vertical-align:middle"><span>Historico de
                    partidas</span></button>
        </div>
        <div class="mt-2">
            <button (click)="Reportes()" class="button" style="vertical-align:middle"><span>Reportes</span></button>
        </div>
        <div class="mt-2">
            <button class="button" style="vertical-align:middle" (click)="Reglas()"><span>Reglas</span></button>
        </div>
    </div>
</div>