<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2"></div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 bg-dark text-white mt-5 rounded-3 shadow">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="formRegister" (submit)="registrar()">
                        <h1 class="fw-bold text-center text-warning py-4">Registro</h1>
                        <div class="mb-4 form-group">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombre" formControlName="nombre" 
                            [class.is-invalid]="formRegister.get('nombre')?.touched && formRegister.get('nombre')?.invalid"/>
                            <small class="errorValidacion"
                                *ngIf="this.formRegister.get('nombre')?.hasError('required') && this.formRegister.get('nombre')?.touched">El
                                nombre es requerido.</small>
                        </div>
                        <div class="mb-4 form-group">
                            <label class="form-label">Apellido</label>
                            <input type="text" class="form-control" name="apellido" formControlName="apellido" 
                            [class.is-invalid]="formRegister.get('apellido')?.touched && formRegister.get('apellido')?.invalid"/>
                            <small class="errorValidacion"
                                *ngIf="this.formRegister.get('apellido')?.hasError('required') && this.formRegister.get('apellido')?.touched">El
                                apellido es requerido.</small>
                        </div>
                        <div class="mb-4 form-group">
                            <label class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" name="email" formControlName="email" 
                            [class.is-invalid]="formRegister.get('email')?.touched && formRegister.get('email')?.invalid"/>
                            <small class="errorValidacion"
                                *ngIf="this.formRegister.get('email')?.hasError('required') && this.formRegister.get('email')?.touched">La
                                direccion de correo electrónico es requerido.</small>
                        </div>
                        <div class="mb-4 form-group">
                            <label class="form-label">Contraseña</label>
                            <input type="password" class="form-control" name="password" formControlName="password" 
                            [class.is-invalid]="formRegister.get('password')?.touched && formRegister.get('password')?.invalid"/>
                            <small class="errorValidacion"
                                *ngIf="this.formRegister.get('password')?.hasError('required') && this.formRegister.get('password')?.touched">La
                               contraseña es un campo requerido.</small>
                        </div>


                        <div class="d-grid">
                            <button type="submit" class="btn btn-success" [disabled]="formRegister.invalid">Registrate</button>
                        </div>
                        <div class="d-grid py-2">
                            <button type="submit" class="btn btn-danger" (click)="volver()">Volver</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2"></div>
    </div>
</div>